* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(25, 189, 157, 0.748);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
  background: #cfcfcf;
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #000000;
  width: 5px;
  border-radius: 6px;
  opacity: 0.6;
}

/* Reset Bootstrap */
h2 {
  margin-bottom: unset;
}

h3 {
  margin-bottom: unset;
}

img, svg {
  vertical-align: unset;
}

ul {
  margin-top: unset;
  margin-bottom: unset;
  padding-left: unset;
}

p {
  margin-top: unset;
  margin-bottom: unset;
}

.row {
  --bs-gutter-x: 0;
}

main {
  height: auto;
  /*     background-color: gray; */
}

.img-fluid {
  max-width: 100%;
  height: 200%;
  justify-content: space-between;
  flex-direction: row;
}

section {
  margin: 50px 0;
}

/* Header */
.menuTop {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1050;
}
.menuTop .navbar {
  padding: 0;
  width: 80vw;
  margin: 0 auto;
  justify-items: unset;
}
.menuTop .navbar .logo {
  display: flex;
  align-items: center;
  padding: 10px;
}
.menuTop .navbar .logo img {
  width: 50px;
  height: 50px;
}
.menuTop .navbar div .texto {
  font-size: 20px;
}
.menuTop .menu {
  background-color: rgba(250, 251, 250, 0.931);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 15px 10px;
  padding: 15px 10px;
}
.menuTop .botonMenu {
  margin-right: 20px;
}
.menuTop .botonMenu .botonEstilo {
  height: 45px;
  width: 55px;
  border-width: 2.5px;
  border-style: solid;
  border-color: #505050;
}
.menuTop .menu3 {
  justify-content: flex-end;
  font-size: 16px;
}
.menuTop .menu3 ul {
  background-color: white;
  margin-right: 20px;
  border-radius: 10px;
}
.menuTop .menu3 ul li {
  padding: 5px 15px;
  border-radius: 10px;
  transition: 1s;
}
.menuTop .menu3 ul li:hover {
  background-color: rgb(217, 217, 217);
}

/* Footer */
.footerStyle {
  width: 100%;
  height: auto;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}
.footerStyle div {
  margin-bottom: 20px;
}
.footerStyle .footerItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.footerStyle .footerItems .footerImg .logoFooter p {
  text-decoration: none;
  font-size: 35px;
  color: white;
}
.footerStyle .footerItems .footerImg .socialNet {
  filter: invert(100%);
  display: flex;
  list-style: none;
}
.footerStyle .footerItems .footerImg .socialNet li {
  margin: 5px;
}
.footerStyle .footerItems .footerImg .socialNet li img {
  height: 25px;
  width: 25px;
}
.footerStyle .footerItems .footerInf {
  display: flex;
}
.footerStyle .footerItems .footerInf div {
  margin: 0 20px;
}
.footerStyle .footerItems .footerInf div p {
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin: 15px 0;
}
.footerStyle .footerItems .footerInf div ul {
  list-style: none;
}
.footerStyle .footerItems .footerInf div ul li {
  margin: 15px 0;
}
.footerStyle .footerItems .footerInf div ul li a {
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}
.footerStyle .footerItems .footerInf div a {
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}
.footerStyle .payment {
  margin: 10px;
}
.footerStyle .payment ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.footerStyle .payment ul li {
  margin: 0 5px;
}
.footerStyle .payment ul li a img {
  width: 40px;
}
.footerStyle .banner {
  border-radius: 15px;
}
.footerStyle .specialSize {
  object-fit: contain;
  background-color: white;
  height: 26px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid black;
}
.footerStyle .copyRight {
  margin: 10px;
  color: white;
  font-size: 15px;
}

/*  carrousel css */
/* .carouselHeader {
    height: 650px;
}
 */
.carouselSize {
  height: 500px;
}
.carouselSize .carousel-item {
  position: absolute;
}
.carouselSize .carouselImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.shopIndex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*     margin-bottom: 100px; */
}

.cardIndex {
  margin: 0 10px;
  transition: 2s;
}
.cardIndex:hover {
  transform: scale(1.1);
}
.cardIndex div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardIndex a {
  text-decoration: none;
  color: black;
}
.cardIndex a div h5 {
  font-size: 15px;
}

.gridTiendaMenu {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 75px 1fr;
  grid-template-areas: "catalogo filtro" "catalogo productos";
  width: 80%;
  margin: auto;
  gap: 20px 10px;
}
.gridTiendaMenu .catalogo {
  grid-area: catalogo;
}
.gridTiendaMenu .filtro {
  grid-area: filtro;
}
.gridTiendaMenu .productos {
  grid-area: productos;
}
.gridTiendaMenu .catalogo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 200px;
  grid-template-areas: "catalogoItem1" "catalogoItem2";
  justify-items: center;
  align-items: center;
  gap: 20px 0px;
}
.gridTiendaMenu .catalogo .catalogoItem1 {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  border-left: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
  background-color: #fffdfb;
}
.gridTiendaMenu .catalogo .catalogoItem2 {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  font-size: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-left: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
  color: black;
  background-color: white;
}
.gridTiendaMenu .catalogo .catalogoItem2 ul {
  list-style-type: none;
  margin: 0;
}
.gridTiendaMenu .catalogo .catalogoItem2 ul li {
  padding-bottom: 10px;
}
.gridTiendaMenu .filtro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  justify-items: center;
  align-items: center;
  border-left: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
}
.gridTiendaMenu .filtro .filtroSelect {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
}
.gridTiendaMenu .filtro .filtroSelect select {
  border-radius: 10px;
  border: 2px solid rgba(52, 52, 52, 0.2);
}
.gridTiendaMenu .subtituloEstilo {
  font-size: 20px;
  font-weight: 500;
  padding: 5px 10px;
}

.productosGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 5px;
}
.productosGrid .productosEstilo {
  height: 370px;
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgba(52, 52, 52, 0.2);
}
.productosGrid a {
  text-decoration: none;
}
.productosGrid img {
  object-fit: contain;
  height: 250px;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.productosGrid h2 {
  font-size: 15px;
  color: black;
}
.productosGrid p {
  font-size: 15px;
  color: rgb(34, 34, 34);
}
.productosGrid .producto1 {
  transition: 2s;
}
.productosGrid .producto1:hover {
  transform: scale(1.1);
}

.mainInf {
  margin: 50px 0;
}
.mainInf .infSection {
  display: flex;
  justify-content: center;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
}
.mainInf .infText {
  background-color: #d2d2d2;
  width: 500px;
  height: 500px;
  padding: 50px;
  font-size: 14px;
}
.mainInf .infText h2 {
  font-size: 25px;
}
.mainInf .mapa {
  width: 500px;
  height: 500px;
}
.mainInf .mapa iframe {
  width: 100%;
  height: 100%;
}

.titleStaff {
  height: 400px;
  width: 100%;
  display: grid;
  align-items: end;
  position: relative;
  z-index: 1000;
}
.titleStaff video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.titleStaff .opacidadStaff {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(24, 24, 24);
  opacity: 0.5;
}
.titleStaff div {
  position: absolute;
  padding-left: 10%;
}
.titleStaff div h1 {
  color: white;
  font-weight: 600;
  font-size: 40px;
}
.titleStaff div p {
  color: white;
  font-size: 20px;
}

.gridEquipo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "objeto1 objeto2 objeto3 objeto4";
  gap: 10px 10px;
  justify-items: center;
}
.gridEquipo div {
  height: 500px;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  z-index: 1000;
}
.gridEquipo div img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gridEquipo div .igBlanco {
  display: none;
}
.gridEquipo div .igBlanco img {
  width: 40px;
  height: 40px;
}
.gridEquipo div .opaco2 {
  position: absolute;
  transition: 1s;
}
.gridEquipo div:hover .opaco2 {
  background-color: rgba(24, 24, 24, 0.5);
}
.gridEquipo div:hover p {
  position: absolute;
  color: white;
  font-size: 20px;
  z-index: 1001;
  font-weight: bold;
}
.gridEquipo div:hover .igBlanco {
  display: grid;
  justify-items: center;
  margin-top: 20px;
  position: absolute;
  z-index: 1001;
}

.estiloContacto {
  margin: 200px 0;
  justify-content: center;
}

.estiloContacto2 {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.divContacto {
  height: 800px;
  width: 500px;
  background-color: rgb(219, 201, 143);
  margin: 0 10px;
  border-radius: 30px;
}

.formEstilo {
  font-size: 20px;
  background-color: #ffe5bc;
  font-weight: bold;
  padding: 20px 20px;
  margin-bottom: 0;
  width: 100%;
  border-radius: 30px;
}

.estiloContacto .estiloFormulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.estiloContacto .estiloFormulario form {
  padding: 25px 30px;
  box-shadow: 0 0 20px rgba(101, 11, 11, 0.2);
  border-radius: 20px;
  text-align: center;
  height: 670px;
  width: 340px;
  background-color: #ffe5bc;
}
.estiloContacto .estiloFormulario form h2 {
  color: #283629;
  font-size: 35px;
}
.estiloContacto .estiloFormulario form .estiloContacto .estiloFormulario form fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.estiloContacto .estiloFormulario form .estiloContacto .estiloFormulario form fieldset p {
  font-size: 15px;
  font-weight: 500;
}
.estiloContacto .estiloFormulario form .estiloContacto .estiloFormulario form fieldset p label {
  color: #3a843f;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.estiloContacto .estiloFormulario form fieldset input, .estiloContacto .estiloFormulario form fieldset textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 15px;
  background-color: #662020;
  border: 2px solid #891010;
  color: #1e8525;
  outline: none;
}

.estiloContacto .estiloFormulario form fieldset .politicas {
  display: flex;
}
.estiloContacto .estiloFormulario form fieldset .politicas label {
  font-size: 10px;
  margin-right: 5px;
}

.estiloContacto .estiloFormulario form fieldset input::placeholder, .estiloContacto .estiloFormulario form fieldset textarea::placeholder {
  color: #363428;
}

.estiloContacto .estiloFormulario form fieldset .botonForm input {
  width: 100%;
  font-size: 16px;
  color: #0d0c0c;
  border: 0;
  border-radius: 25px;
  background-color: #111110;
  box-shadow: 0 0 20px rgba(3, 3, 3, 0.4);
}

.estiloContacto .estiloTelefono {
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 800px;
  width: 350px;
  background-color: #ffe5bc;
}
.estiloContacto .estiloTelefono div {
  margin-bottom: 10px;
}
.estiloContacto .estiloTelefono div img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-left: 10px;
}

.estiloContacto .estiloTelefono div p {
  font-size: 15px;
}
.estiloContacto .estiloTelefono div p span {
  font-weight: 500;
}

.estiloContacto .estiloTelefono div a {
  text-decoration: none;
  font-size: 15px;
}

.estiloContacto .estiloTelefono .abc {
  display: flex;
}

.estiloContacto .estiloTelefono .gif {
  width: 100%;
  margin: 25px 0;
  object-fit: cover;
  transform: rotateY(180deg);
}

@media screen and (max-width: 992px) {
  .footer {
    flex-direction: column;
  }
  .footerItems {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .footerInf {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .gridTiendaMenu {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .gridTiendaMenu {
    grid-template-columns: 1fr;
    grid-template-rows: 75px 75px 1fr;
    grid-template-areas: "catalogo" "filtro" "productos";
  }
  .gridTiendaMenu .catalogo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "catalogoItem1 catalogoItem1";
    background-color: green;
  }
  .gridTiendaMenu .catalogo .catalogoItem2 {
    display: none;
  }
  .filtro {
    grid-template-columns: 1fr 1fr;
  }
  .productosGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .gridTiendaMenu {
    grid-template-rows: 75px 90px 1fr;
  }
  .filtro {
    grid-template-columns: 1fr;
  }
  .productosGrid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 992px) {
  .gridEquipo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
    grid-template-areas: "objeto1 objeto2" "inf1 inf2" "objeto3 objeto4" "inf3 inf4";
    height: auto;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .gridEquipo {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "objeto1 " "objeto2 " "objeto3" "objeto4";
    height: auto;
    width: auto;
  }
}
@media screen and (max-width: 992px) {
  .gridNosotros {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr 0.75fr;
    grid-template-areas: "header" "main" "footer";
  }
}
@media screen and (max-width: 768px) {
  .gridNosotros {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 3fr 0.75fr;
    grid-template-areas: "header" "main" "footer";
  }
}

/*# sourceMappingURL=estilos.css.map */
